
/* Formulario Modal
-------------------------------------*/

#modalform {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 6px 6px 6px 6px;
    left: 35%;
    width: 30%;
    margin: auto;
    padding: 10px 0 0;
    position: fixed;
    text-align: center;
    z-index: 15;
}

#modalform form {
	margin: 20px;
}

/* Tag manager
-------------------------------------*/

ul.id_tags_list{
	position: relative;
	list-style-type: none;
	margin-bottom: 2em;
	padding-left: 5px;
}

li.isTag{
	position: relative;
	color: #fff;
	float:left;
	padding: 0px 2px 0px 2px; 
	margin-right: 4px;
	margin-bottom: 4px;
    background-color: #ff6b00;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-radius: 5px;
    border-radius: 5px;
}
li b.delete{
	color: #fff;
}

li.isTag b:hover{
	cursor: pointer;
}
