        		{% load endless %}
                <!--  POST  -->
                {% paginate posts %}
                {% for post in posts %}
                    <div class="col-md-6">
                        <div class="post-entry">
                            <div class="post-body entry-content" id="post-body">
                                <span>
                                    <div class="entry-image">
                                        <a href="{% url 'post' post.slug %}">
                                            <img class="thumb img-responsive" src="{{ post.imagen.url }}" style="max-height:200px;">
                                        </a>
                                    </div>
                                </span>
                                <div class="article-container">
                                    <div class="inner-content">
                                        <div class="article-category">
                                            <a href="/?category={{ post.categoria }}" rel="tag"> {{post.categoria}} </a>
                                        </div>
                                        <div class="clr"></div>
                                        <div class="post-date">
                                            <span class="post-month">{{post.time|date:"M"}}</span>
                                            <strong class="post-day">{{post.time|date:"d"}}</strong>
                                        </div>
                                        <div class="inner-shadow">
                                        <h2 class="article-title"><a href="{% url 'post' post.slug %}">{{ post.title }}</a></h2>
                                        </div>
                                        <div class="body-post">
                                            {% autoescape off %}
                                                {{ post.perex|truncatechars:150 }}
                                            {% endautoescape %}
                                        </div>
                                    </div>
                                </div>
                                <div style="clearfix"></div>
                            </div>
                            <div class="post-footer">
                                <div class="post-footer-line post-footer-line-1"></div>
                                <div class="clr"></div>
                                <div class="post-footer-line post-footer-line-2"></div>
                                <div class="post-footer-line post-footer-line-3">
                                    <span class="post-location"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% show_more %}
                <!--  END POST  -->