{% extends 'base.html' %}
{% load bootstrap %}
{% block tags %}
    {% for tag in blog.tags.all %}
        <meta name="{{ blog.title }}" content="{{ tag }}"/>
    {% endfor %}

{% endblock %}
{% block contenido %}
    <div class="col-sm-9">
        <div class="main-content">
            <article id="post-1" class="post post-content">
                <h1 class="entry-title">{{ blog.title }}</h1>
                <div class="utilities">
                    <div class="firma">
                        <span class="nombre">Dubalu Factura Redacción</span>
                        <span class="fecha">{{ blog.time|date:"d/m/y" }} - <strong>{{ blog.time|time:"H:i" }}</strong>
                        </span>
                    </div>
                    <div class="compartirNoticia">
                        <ul class="redesSociales">
                            <li>
                                <a class="twitter" title="Comparte en Twitter" href="#">
                                    <span class="fa-stack">
                                      <i class="fa fa-circle fa-stack-2x"></i>
                                      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a class="facebook" href="#" title="Comparte en Facebook">
                                    <span class="fa-stack">
                                      <i class="fa fa-circle fa-stack-2x"></i>
                                      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a id="googleplus" class="googlePlus" title="Comparte en Google+"  href="">
                                    <span class="fa-stack">
                                      <i class="fa fa-circle fa-stack-2x"></i>
                                      <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <ul class="mediosClasicos">
                            <li class="envia">
                                <a class="enviar" href="#" title="Enviar noticia">
                                    <span class="fa-stack">
                                      <i class="fa fa-circle fa-stack-2x"></i>
                                      <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a class="imprimir" href="#" title="Imprimir noticia">
                                    <span class="fa-stack">
                                      <i class="fa fa-circle fa-stack-2x"></i>
                                      <i class="fa fa-print fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="comentario">
                                <div class="comenta">
                                    <div class="comentarios">
                                        <a href="#">231</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="post-thumb"><img src="{{ blog.imagen.url }}" class="img-responsive center-block" alt="04"></div>
                <div class="entry-content">
                    {% autoescape off %}
                        {{ blog.content|safe}}
                    {% endautoescape %}
                </div>
            </article>
        </div>
        {% if blog.comentar %}
                <div class="col-sm-9">
                    {% for comentario in comentarios %}
                        <div class="coment">
                            {{ comentario.nombre }}:{{ comentario.cuerpo }}
                        </div>
                    {% endfor %}
                    <hr/>
                    <form method="post">
                        {% csrf_token %}
                        {{ comentariosForm|bootstrap }}
                        <input type="submit" value="Enviar"/>
                    </form>
                </div>

                <script type="text/javascript">
                    jQuery(document).ready(function () {
                        $("div.coment").each( function(){
                            var $this = $(this);
                            coment = $this.text();
                            $this.empty();
                            $this.append("<img src='imagen.jpg' width='80px' height='80px' style='float:left;'/>");
                            $this.append("<h4> " + coment.substr(0, coment.indexOf(":")) + "</h4> <span> dijo...</span><br/>");
                            $this.append("<p>"+coment.substr(coment.indexOf(':'), coment.length -1 )+"</p>")
                        });
                    });
                </script>
            {% endif %}
    </div>
    {% endblock %}
