{% extends base %}
{% load bootstrap %}
{% block title %} {{ blog }} {% endblock %}
{% block tags %}
    <meta property="og:image" content="{{ blog.imagen }}"/>
    <meta property="og:description" content="{% for tag in blog.tags.all %}{{ tag.name }}, {% endfor %}"/>
{% endblock %}
{% block RecentWorks %}
    <h1 itemscope itemprop="titlulo">{{ blog }}</h1>
    <div style="max-width:500px; max-height:400px; overflow:hidden;">
        <img itemprop="imagen" src='{{ blog.imagen.url }}' alt="" style="width:80%; height:auto; margin: auto; overflow:hidden"/>
    </div>
    <br>
    <div style=" height:150px; width:300px">
        <h5 align=left>RATING:</h5>
        {% for i in Star %}
            <img id="logo-header" align="left" src="/media/img/esdorada.jpg" height="30" width="30">
        {% endfor %}
        <br>
        <form action="." method="POST">
            {% csrf_token %}
            <br>
            <div>
                <h6 align=left> Calificar :</h6>
                <input type="image" src="/media/img/esblanca.jpg" name="calificacion" value="1"
                       onmouseover="this.src='/media/img/esdorada.jpg';"
                       onmouseout="this.src='/media/img/esblanca.jpg';" height="20" width="20" align=left>
                <input type="image" src="/media/img/esblanca.jpg" name="calificacion" value="2"
                       onmouseover="this.src='/media/img/esdorada.jpg';"
                       onmouseout="this.src='/media/img/esblanca.jpg';" height="20" width="20" align=left>
                <input type="image" src="/media/img/esblanca.jpg" name="calificacion" value="3"
                       onmouseover="this.src='/media/img/esdorada.jpg';"
                       onmouseout="this.src='/media/img/esblanca.jpg';" height="20" width="20" align=left>
                <input type="image" src="/media/img/esblanca.jpg" name="calificacion" value="4"
                       onmouseover="this.src='/media/img/esdorada.jpg';"
                       onmouseout="this.src='/media/img/esblanca.jpg';" height="20" width="20" align=left>
                <input type="image" src="/media/img/esblanca.jpg" name="calificacion" value="5"
                       onmouseover="this.src='/media/img/esdorada.jpg';"
                       onmouseout="this.src='/media/img/esblanca.jpg';" height="20" width="20" align=left>

            </div>
        </form>
    </div>
    <h1>
        <small itemprop="datePublished">{{ blog.time }}</small>
    </h1>
    <h3>
        {{ blog.perex|safe }}
    </h3>
    <p align="justify">
    <h5>
        {{ blog.content|safe }}
    </h5>
    
    </di>
    </p>
    <br><br>
    <a class="btn-u" href="/">
        Regresar
    </a>

{% endblock %}
{% block Comentarios %}
    {% if comentarios != '' and user.is_authenticated %}
        <hr/>
        <center><h2>Comentarios</h2></center>
        <hr/>
        {% for c in comentarios %}
            <p align="justify">
            <h5>{{ c.nombre }} dice:
                <small itemprop="datePublished">
                    {{ c.fecha_pub }}
                </small>
            </h5>
            {{ c.cuerpo }}
            </p>
            <hr/>
        {% endfor %}
        <div class="row">
            <div class="col-md-5">
                <form action="." method="POST">{% csrf_token %}
                    {{ form|bootstrap}}
                    <input class="btn-u" type="submit" name="submit" value="Comentar">
                </form>
            </div>
        </div>
    {% endif %}
{% endblock Comentarios %}

{% block RecentBlogs %}
    <!-- Recent Blogs -->
    <div class="posts">
        <div class="headline"><h2>Lo más reciente</h2></div>
        {% for blog in blogsRecientes %}
            <dl class="dl-horizontal">
                <dt><a href="#"><img src="{{ blog.imagen.url }}" alt=""></a></dt>
                <dd>
                    <p><a href="/blog/{{ blog.id }}">{{ blog }}</a></p>
                </dd>
            </dl>
        {% endfor %}
    </div>
    <!-- End Recent Blogs -->
{% endblock %}
