{% extends base %}
{% block title %} Mi BLog {% endblock %}
{% block RecentWorks %}
    <!-- Recent Works -->
    <div class="headline"><h2>Noticias</h2></div>
    <div class="row margin-bottom-20">
        {% for blog in blogspaginados %}
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style" style="height:360px; overflox:hidden;">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="{{ blog.imagen.url }}" alt="">
                        </div>
                        <a class="btn-more hover-effect" href="/blog/{{ blog.id }}">leer mas +</a>
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="#">{{ blog }}</a></h3>
                        <p>{{ blog.time }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <a class="btn-u" href="/">INICIO</a>
    {% if blogspaginados.has_previous %}
            <a class="btn-u" href="/blogs/{{ blogspaginados.previous_page_number }}/">previous</a>
    {% endif %}

    <span class="btn-u">
            Page {{ blogspaginados.number }} of {{ blogspaginados.paginator.num_pages }}.
    </span>

    {% if blogspaginados.has_next %}
            <a class="btn-u" href="/blogs/{{ blogspaginados.next_page_number }}/">next</a>
    {% endif %}
    <!-- End Recent Works -->
{% endblock %}
{% block RecentBlogs %}
    <!-- Recent Blogs -->
    <div class="posts">
        <div class="headline"><h2>Lo más reciente</h2></div>

        {% for blog in blogsRecientes %}
            <dl class="dl-horizontal">
                <dt><a href="#"><img src="{{ blog.imagen.url }}" alt=""></a></dt>
                <dd>
                    <p><a href="/blog/{{ blog.id }}">{{ blog }}</a></p>
                </dd>
            </dl>
        {% endfor %}

    </div>
    <!-- End Recent Blogs -->
{% endblock %}

