{% extends 'admin.html' %}
{% load bootstrap %}
<!-- Container -->
{% block content %}
    {% if True %}
        <div class="text-center">
            <h1>Categorias</h1>
        </div>
        <div class="container">
            <div class="row">
                <table class="table table-striped">
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Borrar</th>
                    </tr>
                {% for category in categories %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><p class="name">{{ category.nombre }}</p></td>
                        <td><div><p class="description">{{ category.descripcion}}</p></div></td>
                        <td><input type="submit" value="Eliminar" class="btn btn-danger del_category"></td>
                    </tr>
                {% endfor %}
                </table>
            </div>
            <div>
                <input class="btn btn-default" type="button" id="show-add" value="Agregar Categoria">
            </div>
            <div id="modalform">
            <form action="{% url 'create_category' %}" class='new-cate' role='form'>
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <input type="submit" id="btn-add-category" value="Agregar" class="btn btn-primary">
                    <a id="cancel-cate">Cancelar</a>
            </form>
            </div>
        </div>
    {% else %}
    <div class="text-center"><p>¡ERROR! no tiene los permisos necesarios, Contacte al Administrador </p></div>
    {% endif %}

{% endblock %}