{% extends base %}
{% block title %}Contactanos {% endblock %}
{% block Contactar %}
    <br>
    {% if info_enviado %}
        Gracias por enviar un comentario, nos pondremos en contacto contigo.
        <br>
        La informacion recibida fue la siguiente<br>
        <p>Email utilizado: {{ email }}</p>
        <p> Titulo: {{ titulo }}</p>
        <p> Texto Citado: </p><br><br>
        <h3>{{ texto }}
        <h3>
    {% else %}
        <form action="." method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn-u" type="submit">Contactarnos</button>
        </form>
    {% endif %}
{% endblock Contactar %}
{% block RecentBlogs %}
    <!-- Recent Blogs -->
    <div class="posts">
        <div class="headline"><h2>Lo más reciente</h2></div>

        {% for blog in blogsRecientes %}
            <dl class="dl-horizontal">
                <dt><a href="#"><img src="{{ blog.imagen.url }}" alt=""></a></dt>
                <dd>
                    <p><a href="/blog/{{ blog.id }}">{{ blog }}</a></p>
                </dd>
            </dl>
        {% endfor %}

    </div>
    <!-- End Recent Blogs -->
{% endblock %}