{% load bootstrap %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>Blog Template for Bootstrap</title>

        <link rel="stylesheet" href="/media/css/font-awesome.min.css">
        <link rel="stylesheet" href="/media/css/bootstrap.min.css">
        <!-- Template -->
        <script type="text/javascript" src="/media/js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="/media/js/bootstrap.min.js"></script>
        <!-- Style -->
        <!-- Favicon -->
        <link rel="shortcut icon" href="/media/img/favicon.ico">


        <!-- Custom styles for this template -->
        <link href="{% static 'css/blog.css'%}" rel="stylesheet">
        <link rel="stylesheet" href="/media/css/style.css">

    </head>

    <body>

<body>
<!-- Header -->
<div class="blog-masthead hidden-print">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item active" href="/">Home</a>
            <a class="blog-nav-item" href="#">New features</a>
            <a class="blog-nav-item" href="#">Press</a>
            <a class="blog-nav-item" href="#">New hires</a>
            <a class="blog-nav-item" href="{% url 'about' %}">About</a>
            <!--<form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control input-sm" name="search" id="search-nav-input" placeholder="Buscar">
                    <span class="input-group-btn">
                    <button type="submit" class="btn btn-sm" title="Buscar"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>-->
            {% if user.is_authenticated %}
            <a class="blog-nav-item" href="{% url 'logout' %}" style="float: right">Logout</a>
            {% endif %}
            {% if user.is_superuser %}
            <a class="blog-nav-item" href="{% url 'nuevo_post' %}" style="float: right">Nueva Publicacón</a>
            {% endif %}
        </nav>
    </div>
</div>
<!-- End Headder -->
<!-- Container -->
<div class="container">
    {% if user.is_superuser %}
        <div class="text-center">
            <h1>Publicaciones</h1>
        </div>
        <div class="row">
                <form name="filterform">
                <table class="filtersearch">
                    <tr>
                        <td>
                            <div class="form-group">
                                {{ form.search }}
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                {{ form.categoria }}
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                {{ form.status }}
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="submit" class="btn btn-default" value="Filtrar">
                            </div>
                        </td>
                    </tr>
                </table>
                </form>
                <table class="table table-striped">
                    <tr>
                        <th>Img</th>
                        <th>Información</th>
                        <th>Coment</th>
                        <th>Categoria</th>
                        <th>Estado</th>
                        <th>Guardar</th>
                    </tr>
                    {% for blog in blogs %}
                    <tr class="infopost" id="post_{{ blog.pk }}">
                        <td>
                            <img src="{{ blog.imagen.url }}" id='postimg' width="100px" height="100px">
                        </td>
                        <td>
                            <div class="title">
                                <a href="/edit/{{ blog.slug }}">{{ blog.title|truncatechars:60 }}</a>
                            </div>
                            {% autoescape off %}
                                <div class="perex">{{ blog.perex|truncatechars:150 }}</div>
                            {% endautoescape %}
                           <ul class="tags_list">
                            {% for tag in blog.tags.all %}
                                <li class="isTag">{{ tag }}</li>
                            {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <center>
                                {% if blog.comentar == True %}
                                <input id="id_comentar" name="comentar" type="checkbox" checked>
                                {% else %}
                                <input class="comentar" id="id_comentar" name="comentar" type="checkbox">
                                {% endif %}
                            </center>
                        </td>
                        <td>
                            <select class ="form-control categorias" name="categorias" id="id_categorias">
                                {% for categoria in categorias %}
                                    {% if categoria == blog.categoria %}
                                    <option selected value="{{ categoria }}">{{ categoria }}</option>
                                    {% else %}
                                    <option value="{{ categoria }}">{{ categoria }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select class ="form-control status" name="status" id="id_status">
                                {% autoescape off %}
                                {% for state in status %}
                                    {% if state.0 == blog.status %}
                                    <option selected value="{{ state.0}}">{{ state.1 }}</option>
                                    {% else %}
                                    <option value="{{ state.0 }}">{{ state.1 }}</option>
                                    {% endif %}
                                {% endfor %}
                                {% endautoescape %}
                            </select>
                        </td>
                        <td>
                            <input type="hidden" value="{{ blog.id }}">
                            <input class="btn btn-default savedata" type="submit" value="Guardar" disabled="true">
                        </td>
                    </tr>
                    {% endfor %}
                </table>
        </div>
        <!-- Script -->
        <script type="text/javascript">
        $(document).ready(function(){
            // Guardar estados del formulario.
            var posts = [];
            $("tr.infopost").each(function(){
                var $this = $(this);
                temp = [
                    $this.attr("id"),
                    $this.find("#id_comentar").prop("checked"),
                    $this.find("#id_categorias option:selected").text(),
                    $this.find("#id_status option:selected").text()
                ];
                posts.push(temp);
            });
            var $buttons = $("input.savedata");
            $(".categorias, .status, .comentar").on("change", function(){
                var $row = $(this).closest("tr");
                for (var i = 0; i < posts.length; i++) {
                    if( posts[i][0] == $row.attr("id")){
                        if (
                            (posts[i][1] != $row.find("#id_comentar").prop("checked")) ||
                            (posts[i][2] != $row.find("#id_categorias option:selected").text()) ||
                            (posts[i][3] != $row.find("#id_status option:selected").text())
                        ){
                            $row.find("input.savedata")
                            .removeAttr("disabled")
                            .addClass("btn-primary");
                        } else {
                            $row.find("input.savedata")
                            .attr("disabled", "true")
                            .removeClass("btn-primary")
                            .addClass("btn-default");
                        }
                    }
                };
            });
            $buttons.on("click", function(event){
                event.preventDefault();
                var $this = $(this);
                $.ajax({
                    type: "POST",
                    url: "/editposts/",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        id: $this.siblings("input:hidden").val(),
                        comentario: $this.closest("tr").find("#id_comentar").prop('checked'),
                        categoria: $this.closest("tr").find("#id_categorias option:selected").text(),
                        estado: $this.closest("tr").find("#id_status option:selected").val()                    },
                    success: function(result){
                        $this.removeClass("btn-primary");
                        $this.addClass("btn-default");
                    },
                    error: function(xhr, result, err){
                        console.log("ERROR")
                    }
                });
                $this.attr("disabled", "true");
            });
        });
        </script>
        <!-- End Javascript -->
    {% else %}
    <div class="text-center"><p>¡ERROR! no tiene los permisos necesarios, Contacte al Administrador </p></div>
    {% endif %}
</div>
<br>
<!-- Container -->
    <footer class="blog-footer">
        <p>Blog template by <a href="https://www.deipi.com">Deipi.com</a>.</p>
        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>
</body>
</html>
