{% extends 'admin.html' %}
{% load bootstrap %}
{% block content %}
        <!-- Container -->
        <div class="container">
            {% if user.is_superuser %}
                <div class="text-center">
                    <legend>Crear una Entrada</legend>
                </div>
                <div class="row">
                    <div class="col-lg-11">
                        <form action="" method="POST" class="form-horizontal" role="form" enctype='multipart/form-data'>
                            {% csrf_token %}
                            {{ form.media }}
                            {{ form|bootstrap_horizontal }}
                            <div class="col-lg-offset-2">
                                <input class="btn btn-primary" type="submit" name="save_exit" value="Agregar y Salir">
                            {% if post == False %}
                                <input class="btn btn-default" type="submit" name="save_continue" value="Agregar y Continua">
                                <a href="/"><input class="btn btn-danger" type="button" value="Cancelar"></a>
                            {% else %}
                                <a href="/editposts/"><input class="btn btn-danger" type="button" value="Cancelar"></a>
                            {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
                {% if post %}
                <script type="text/javascript">
                $(document).ready(function(){
                    var $taglis =  $("#id_tags_list");
                    {% for tag in post.tags.all %}
                        $taglis.append("<li class='isTag'>{{ tag }}<b class='delete'> ×</b></li>");
                    {% endfor %}
                    $("#id_tags_list").append("");
                });
                </script>
                {% endif %}
            {% endif %}
        </div>
{% endblock %}