{% extends 'blog/admin.html' %}
<!-- Container -->
{% block content %}
{% load crispy_forms_tags %}
    {% if True %}
        <div class="text-center">
            <h1>Categotias</h1>
        </div>
        <div class="container">
            <div class="row">
                <table class="table table-striped">
                    <tr>
                        <th class="col-md-1">#</th>
                        <th class="col-md-5">Nombre</th>
                        <th class="col-md-5">Descripción</th>
                        <th class="col-md-1">Borrar</th>
                    </tr>
                {% for element in model %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><p class="name">{{ element.name }}</p></td>
                        <td><div><p class="description">{{ element.description}}</p></div></td>
                        <td><input type="submit" value="Eliminar" class="btn btn-danger del_category"></td>
                    </tr>
                {% endfor %}
                </table>
            </div>
            <div>
                <input class="btn btn-default" type="button" id="show-add" value="Agregar Categoria">
            </div>
            <div id="modalform">
                {% crispy form %}
            </div>
        </div>
        <script type="text/javascript">{{ js_functions }}</script>
    {% else %}
    <div class="text-center"><p>¡ERROR! no tiene los permisos necesarios, Contacte al Administrador </p></div>
    {% endif %}

{% endblock %}