{% extends 'blog/admin.html' %}
<!-- Container -->
{% block content %}
<div class="container">
    {% if user.is_superuser and blogs %}
        <div class="text-center">
            <h1>Publicaciones</h1>
        </div>
        <div class="row">
                <form name="filterform">
                <table class="filtersearch">
                    <tr>
                        <td>
                            <div class="form-group">
                                {{ form.search }}
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                {{ form.categoria }}
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                {{ form.status }}
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="submit" class="btn btn-default" value="Filtrar">
                            </div>
                        </td>
                    </tr>
                </table>
                </form>
                <table class="table table-striped">
                    <tr>
                        <th>Imagen</th>
                        <th>Información</th>
                        <th>Coment</th>
                        <th>Categoria</th>
                        <th>Estado</th>
                        <th>Guardar</th>
                    </tr>
                    {% for blog in blogs %}
                    <tr class="infopost" id="post_{{ blog.pk }}">
                        <td>
                            <img src="{{ blog.imagen.url }}" id='postimg' width="100px" height="100px">
                        </td>
                        <td>
                            <div class="title">
                                <a href="{% url 'edit' blog.slug %}">{{ blog.title|truncatechars:60 }}</a>
                            </div>
                            {% autoescape off %}
                                <div class="perex">{{ blog.perex|truncatechars:150 }}</div>
                            {% endautoescape %}
                           <ul class="tags_list">
                            {% for tag in blog.tags.all %}
                                <li class="isTag">{{ tag }}</li>
                            {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <center>
                                {% if blog.comentar == True %}
                                <input id="id_comentar" name="comentar" type="checkbox" checked>
                                {% else %}
                                <input class="comentar" id="id_comentar" name="comentar" type="checkbox">
                                {% endif %}
                            </center>
                        </td>
                        <td>
                            <select class ="form-control categorias" name="categorias" id="id_categorias">
                                {% for categoria in categorias %}
                                    {% if categoria == blog.categoria %}
                                    <option selected value="{{ categoria }}">{{ categoria }}</option>
                                    {% else %}
                                    <option value="{{ categoria }}">{{ categoria }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select class ="form-control status" name="status" id="id_status">
                                {% autoescape off %}
                                {% for state in status %}
                                    {% if state.0 == blog.status %}
                                    <option selected value="{{ state.0}}">{{ state.1 }}</option>
                                    {% else %}
                                    <option value="{{ state.0 }}">{{ state.1 }}</option>
                                    {% endif %}
                                {% endfor %}
                                {% endautoescape %}
                            </select>
                        </td>
                        <td>
                            <input type="hidden" value="{{ blog.id }}">
                            <input class="btn btn-default savedata" type="submit" value="Guardar" disabled="true">
                        </td>
                    </tr>
                    {% endfor %}
                </table>
        </div>
        <script type="text/javascript">
        $(document).ready(function(){
            // Guardar estados del formulario.
            var posts = [];
            $("tr.infopost").each(function(){
                var $this = $(this);
                temp = [
                    $this.attr("id"),
                    $this.find("#id_comentar").prop("checked"),
                    $this.find("#id_categorias option:selected").text(),
                    $this.find("#id_status option:selected").text()
                ];
                posts.push(temp);
            });
            var $buttons = $("input.savedata");
            $(".categorias, .status, .comentar").on("change", function(){
                var $row = $(this).closest("tr");
                for (var i = 0; i < posts.length; i++) {
                    if( posts[i][0] == $row.attr("id")){
                        if (
                            (posts[i][1] != $row.find("#id_comentar").prop("checked")) ||
                            (posts[i][2] != $row.find("#id_categorias option:selected").text()) ||
                            (posts[i][3] != $row.find("#id_status option:selected").text())
                        ){
                            $row.find("input.savedata")
                            .removeAttr("disabled")
                            .addClass("btn-primary");
                        } else {
                            $row.find("input.savedata")
                            .attr("disabled", "true")
                            .removeClass("btn-primary")
                            .addClass("btn-default");
                        }
                    }
                };
            });
            $buttons.on("click", function(event){
                event.preventDefault();
                var $this = $(this);
                $.ajax({
                    type: "POST",
                    url: "/editposts/",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        id: $this.siblings("input:hidden").val(),
                        comentario: $this.closest("tr").find("#id_comentar").prop('checked'),
                        categoria: $this.closest("tr").find("#id_categorias option:selected").text(),
                        estado: $this.closest("tr").find("#id_status option:selected").val()
                    },
                    success: function(result){
                        $this.removeClass("btn-primary");
                        $this.addClass("btn-default");
                    },
                    error: function(xhr, result, err){
                        console.log("ERROR")
                    }
                });
                $this.attr("disabled", "true");
            });
        });
        </script>
    {% else %}
    <div class="text-center"><p>¡ERROR! no tiene los permisos necesarios, Contacte al Administrador </p></div>
    {% endif %}
</div>
{% endblock %}
